body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  background-color: var(--gray900);
}

/* SECTION PETINFO HERE */

.section-petinfo {
  display: flex;
  flex-direction: column;
  width: 24.438rem;
  gap: 1.5rem;
}

.div-petinfo-box-images {
  display: flex;
  width: 300px;
  height: 203px;
  justify-content: space-between;
}

.div-petinfo-box-images > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-petinfo-box-images > div > div {
  display: flex;
  justify-content: space-between;
}

/* SECTION LOGIN HERE */

.section-login {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  width: 369px;
  padding: 2.75rem 1.5rem;
  background-color: var(--gray900);
  border: 1px solid var(--gray600);
  border-radius: 4px;
}

#form-login {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  width: 100%;
}

.div-email-label-input {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.div-password-label-input-wrongpass {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.div-span-wrong-password {
  height: 0.75rem;

}

.span-wrong-password {
}

.button-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.div-new-account-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.25rem;
}

.button-redirect-register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-redirect-register > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
